.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 65rem;
    margin:0 auto ;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: sticky;
    top:0;
    z-index:3;
    background-color: rgb(49, 48, 48);
    opacity:0.8;
    border-radius: 0rem  0rem 1rem 1rem ;
}

.navitems{

    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s;
    padding-bottom: 1rem;

    color: rgb(250, 226, 193);

}
.navitems:hover{
    border-bottom: 5px solid pink;
}

.navitems.active{
    border-bottom: 5px solid rgb(249, 249, 249);
}


.profilepic{
    width: 30px;
    border-radius: 25px;
    filter: sepia(0.3);
}

.navImg{
    border-radius: 3rem;
    width: 4rem;
}